requests
setuptools
h5py
h5py-cache
tqdm
pandas
Pillow
matplotlib

tensorboard
tensorboardx
scikit-learn
scikit-image
slackclient
reportlab
scipy
ImageHash
wandb

joblib
augly
ffmpeg-python
ipython
dlib
streamlit
easydict
protobuf
albumentations
opencv-python
pudb
imageio
imageio-ffmpeg
omegaconf
einops
bchlib

## pytorch-related lib
diffusers
lpips
torchsummary
invisible-watermark
torch-fidelity
torchgeometry
torchmetrics
pytorch-fid

test-tube
kornia
transformers
pytorch-lightning
-e git+https://github.com/openai/CLIP.git@main#egg=clip
